@using TaskShop.Data.Models
@model IEnumerable<Product>

<h2>@ViewBag.Shop</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>ShopName</th>
            <th>Delete</th>
            <th>Add</th>
            <th>Editing</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var product in Model)
            {
                <tr>
                    <td contenteditable='true'>@product.Id</td>
                    <td contenteditable='true'>@product.Name</td>
                    <td contenteditable='true'>@product.Description</td>
                    <td contenteditable='true'>@product.ShopId</td>
                    <td><a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.Id">Удалить</a></td>
                    <td><a href="/Product/AddProduct/">Добавить</a></td>
                    <td><a href="/Product/EditingProduct/">Редактировать</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="/Shop/ShopList/">Назад</a>
